/* Global */

/*div {
    border: 1px solid red;
    box-sizing: border-box;
}*/

body {
    background-color: #E2E8F0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10fr;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #636363;
}

ul {
    list-style-type: none;
    margin: 25px 0 0;
    padding: 0;
    font-size: 20px;
    line-height: 34px;
}

li:hover {
    cursor: pointer;
}

h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    margin: 0;
    padding: 0;
    grid-area: 1 / 1 / 2 / -1;
}

h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #333333;
    margin: 0 0 5px;
    padding: 0;
}

/* Navigation */

.nav {
    padding: 20px;
    background-color: #1993D5;
    grid-area: 1 / 1 / 3 / 2;
    color: #FFFEFE;
    font-weight: 700;
}

.title1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
}

.title2 {
    font-size: 30px;
    line-height: 30px;
}

.nav .material-icons-round {
    font-size: 24px;
    line-height: 24px;
    transform: translateY(4px);
    margin-right: 5px;
}

li:hover .material-icons-round {
    color: #F1C40F;
}

/* Top bar */

.upper {
    padding: 15px;
    background-color: #FFFEFE;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 3px 3px 3px rgba(198, 203, 210, 0.5);
    z-index: 2;
}

/* Scrolling section */

.scrollable {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #E2E8F0; 
}

::-webkit-scrollbar-thumb {
    background: #1993D5; 
}

::-webkit-scrollbar-thumb:hover {
    background: #1681BA; 
}

/* Announcements & Trending */

.announcements {
    margin: 25px 25px 25px 0;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 18px 1fr;
    gap: 15px;
}

.trends {
    margin: 0 25px 25px 0;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 18px 1fr;
    gap: 15px;
}

.announcement-container, .trend-container {
    background-color: #FFFEFE;
    box-shadow: 3px 3px 3px rgba(198, 203, 210, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto;
    align-self: start;
}

.announcement-container :last-child, .trend-container :last-child {
    border: 0;
}

.announcement, .trend {
    padding: 20px;
    border-bottom: 1px solid #E2E8F0;
}

.announcement:hover, .trend:hover {
    background-color: #F8F9FB;
    cursor: pointer;
}

.announcement:hover h2, .trend:hover h2 {
    color: #1993D5;
    text-decoration: underline;
}

.trend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.trend svg {
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 15px;
}

.person {
    grid-area: 1 / 2 / 2 / 3;
}

/* Projects */

.projects {
    margin: 25px 0 25px 25px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 18px 1fr;
    gap: 15px;
}

.projects-container {
    display: grid;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 0 25px 25px 0;
}

.project {
    background-color: #FFFEFE;
    box-shadow: 3px 3px 3px rgba(198, 203, 210, 0.5);
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 3fr 1fr;
}

.stripe {
    background-color: #F0B429;
    grid-area: 1 / 1 / 3 / 2;
}

.projname:hover {
    color: #1993D5;
    text-decoration: underline;
    cursor: pointer;
}

.description {
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px 20px 0;
}

.actions {
    grid-area: 2 / 2 / 3 / 3;
    padding: 15px;
    text-align: right;
    vertical-align: middle;
}

.material-icons-round.md-24 {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 0 15px;
}

.material-icons-round.md-24.fav:hover {
    color: #D51935;
    cursor: pointer;
}

.faved {
    color: #D51935;
}

.material-icons-round.md-24.set:hover {
    color: #F0B429;
    cursor: pointer;
}

.material-icons-round.md-24.share:hover {
    color: #1993D5;
    cursor: pointer;
}